[Unit]
Description=Mumble Moderator/Music Bot
After=murmur.service

[Service]
Type=simple
User=brick
WorkingDirectory=PATH_TO_BOT_DIRECTORY
ExecStart=PATH_TO_BOT.RB
Restart=always

[Install]
WantedBy=multi-user.target
