[Unit]
Description=Mumble Admin Bot
After=murmur.service

[Service]
Type=simple
User=brick
WorkingDirectory=/home/brick/robocop
ExecStart=/home/brick/robocop/bot.rb
Restart=always

[Install]
WantedBy=multi-user.target
